@using Microsoft.AspNetCore.Identity;
@using NinjaStore.DAL.Models;

@inject SignInManager<User> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NinjaStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <img style="width: 50px; height: 50px; margin-right: 15px" src="~/leonardo.png" />
                <a class="navbar-brand" asp-area="" asp-page="/Index">NinjaStore</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" src="~/leonardo.png"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Files/Index">File store</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Files/Upload">Upload</a>
                        </li>
                    </ul>
                </div>

                @if (signInManager.IsSignedIn(User))
                {
                    <form method="post" asp-page="/Account/Logout">
                        <input type="submit" value="Logout" class="nav-link text-light" />
                    </form>
                    <p>@User.Identity.Name</p>
                    <a asp-page="/Index">
                        <img class="fa fa-bicycle fa-5x circle-icon" src="~/ninjauser.png">
                    </a>
                }
                else
                {
                    <a class="nav-link text-light" asp-area="" asp-page="/Account/Register">Registration</a>
                    <a class="nav-link text-light" asp-area="" asp-page="/Account/Login">Login</a>
                }

            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-dark">
        <div class="container-fluid">
            &copy; 2020 - NinjaStore
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
