@page
@using Microsoft.AspNetCore.Identity;
@using NinjaStore.DAL.Models;

@inject SignInManager<User> signInManager;
@model NinjaStore.Pages.Account.DetailsAdminModel
@{
    ViewData["Title"] = "DetailsAdmin";
}

<div class="container">
    <h1>User details</h1>
    <hr />
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="@Model.Username" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input type="hidden" asp-for="@Model.Username" name="username" id="username" />
                <input asp-for="@Model.Username" class="form-control" disabled />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Input.Email" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Input.NewPassword" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-2">Confirm password</label>
            <div class="col-md-10">
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <p class="control-label col-md-2"></p>
            <div class="col-md-10">
                <input type="submit" value="Update" class="btn btn-success" />
            </div>
        </div>
        @if (TempData["Success"] != null)
        {
            <div class="form-group row">
                <p class="control-label col-md-2"></p>
                <div class="text-success col-md-10">
                    <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
                </div>
            </div>
        }
    </form>
</div>