@page
@model NinjaStore.Pages.Account.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Users</h1>
@foreach (var item in Model.AdminList)
{
    <partial name="_DisplayAdminPartial" model="item" view-data="ViewData" />
}
@foreach (var item in Model.UserList)
{
    <partial name="_DisplayUserPartial" model="item" view-data="ViewData" />
}