@page
@model NinjaStore.Pages.Files.IndexModel

@{
    ViewData["Title"] = "Index";
    ViewData["ShowUser"] = true;
    ViewData["ShowButtons"] = false;
}

<h1>Image store</h1>

<div class="filter">
    <h4 style="display: inline;">Filter</h4>
    <div class="search-container">
        <form action="?">
            <input type="text" placeholder="Search.." asp-for="Filter">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>

<div>
    @foreach (var item in Model.CaffMetadata)
    {
        <partial name="_DisplayFilePartial" model="item" view-data="ViewData" />
    }
</div>