@page
@model NinjaStore.Pages.Files.UploadModel

@{
    ViewData["Title"] = "Upload";
    ViewData["ShowUser"] = true;
}

<div class="container">
    <h1>Upload</h1>
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <label class="control-label col-md-2">Name of the file</label>
            <input asp-for="FileName" class="form-control col-md-6" placeholder="The name of your file" />
            <span asp-validation-for="FileName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="Description" class="control-label col-md-2"></label>
            <input asp-for="Description" class="form-control col-md-6" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-2">Select a file</label>
            <input type="file" asp-for="NewFile" onchange="loadFile(event)" class="col-md-6" />
        </div>
        <div class="form-group row">
            <p class="control-label col-md-2"></p>
            <input type="submit" value="Upload" class="btn btn-success col-md-3" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
